<div class="comments">
  <% if comments && comments.size > 0 %>
    <h2>Comments</h2>
    <% comments.each do |comment| %>
      <div class="comment">
        <div class="comment_author">
          <img src="<%=gravatar_url comment.comment_author_email %>?size=32" />
          <% if comment.comment_author_url %>
            <a href="<%=escape_html comment.comment_author_url %>"><%=escape_html comment.comment_author %></a>
          <% else %>
            <%=escape_html comment.comment_author %>
          <% end %>
        </div><!-- comment_author -->
        <div class="comment_content">
          <%=simple_format escape_html(comment.comment_content) %>
        </div><!-- comment_content -->
      </div><!-- comment -->
    <% end %>
  <% end %>
  <p class="comments_note">
    Posting comments is currently disabled - please use <a href="http://eldorado.heroku.com">this forum</a> for questions.
  </p>
</div><!-- comments -->